<%- layout('./layouts/boilerplate.ejs') %>
<body>
    <div class="row ">
        <div class="col-8 offset-2">
            <h3>Edit your listing</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=put" enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" id="title" value="<%= listing.title %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid title.
            </div>
        </div>
        <div class="mb-3">
            <label for="des" class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" id="des" rows="3" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                Please enter a valid description.
            </div>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Original Image</label><br>
            <img src="<%= listing.image.url %>" id="img" alt="listing" style="height:100px">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Choose file</label>
            <input class="form-control" type="file" name="listing[image]" id="formFile">
        </div>
          <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" class="form-control" id="price" value="<%= listing.price %>" required>
                    <div class="invalid-feedback">
                        Please enter a valid price.
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">country</label>
                    <input type="text" name="listing[country]" class="form-control" id="country" value="<%= listing.country %>" required>
                    <div class="invalid-feedback">
                        Please enter a valid country.
                    </div>
                </div>
          </div>
          <div class="mb-3">
            <label for="loc" class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" id="loc" value="<%= listing.location %>" required>
            <div class="invalid-feedback">
                Please enter a valid Location.
            </div>
        </div>
        <button class="btn mt-2" type="submit">Update</button>
    </form>
    </div>
    </div>
</body>